#about_us

  %h2 What is Building Blocks?
  %p Building Blocks is a free  educational programme and a learning centre where  children, ages 3 ½ to 6 years old, from various slums  are taught sight reading, simple arithmetic, writing and development of their large and small motor skills. 
  %p The curriculum is designed to prepare children to get admission into reputed English Medium Schools also known as elementary schools in certain parts of the world.  The children also learn drama, art, singing, and other extra-curricula activities.
  %p Classes are from 9 a.m. to 1:30 p.m. when the children are a provided a nutritional lunch  and snacks six days a week.  All of the required school materials are also provided free of cost.  Additionally Building Blocks arranges free medical check-ups and follow up if required, occasional excursions and birthday parties for every child attending Building Blocks.
  %p Sponsors are found for all the children that graduate from Building Blocks so that their education is secured until they complete 10th standard which is the equivalency of high school.
  %p Currently there are four schools in different parts of Bangalore and we are in the process of opening two more by the end of 2010.  Our goal is to open 30 schools by the end of 2015.
  
  %br
  
  %h3 Our Response
  %p There are millions of children who lack the chance to receive a basic education. According to a May 2010  article in The Times of India  there are around 49,000 slums in India. To make things worse, of these 49,000 slums, 24% was located along nallahs (open sewage canals) and around 12% along railway tracks, according to a report released by Natioanl Sample Survey Office (NSSO).
  %p We began by providing some of the immediate  needs such as clothes, food, medical camps, etc.  but we felt that if we were to truly impact their lives we needed to offer a more long term solution to a better lifestyle.  We believe that education is a major part of the solution to this problem.
  
  %br
  
  %h3 Awareness Programs
  %p Shortly after starting our first school we realised that if the children were to learn the basics of health and hygiene it needed to be reinforced at home. However, this was sadly lacking  . To respond to that need we started workshops for the mothers, as they are the core pillar of the family, to address important issues, such as health and hygiene.  Additionally we provide counsel on women’s reproductive health, natal and prenatal care, pediatric health, etc.
  
  %p We hope it will change their lives and improve their quality of life by giving them the knowledge that they need to cope with the problems that they face

  %br

  %h2 About FDS
  %p Family Development Services (FDS) is a registered society comprised of individuals from different walks of life, come together to help the needy.

  %p Family Development Services is a non- profit, volunteer organization comprised of individuals and families who have devoted their lives to full-time service. Members of Family Development Services are committed to making a difference through their involvement in a variety of social, educational and humanitarian projects through out India.

  %p Our common goal is to improve the quality of life of all members of society; especially those who are poor, suffering or otherwise disadvantaged.

  %p Our projects include:
  %ul
  %li Preschool Education for underprivileged children
  %li Women Empowerment Program for the economically challenged
  %li Teen Education Program for those who are unable to attend school
  %li Regular distribution of donated goods in the slums such as staple foods, vegetables, fruits, used clothes, etc.
  %li Helping to improve the living conditions of desperately poor families, especially single mothers
  %li Awareness Programs for HIV/AIDS, Childhood Diseases, Tuberculosis, Malaria and more
  %li Financial Literacy Program
  %li Alcoholics Anonymous Meetings
  %li Scholarship program for graduated children from our kindergarten

  %br
  
  %h2 FAQs