#full-profile
  
  #sidebar
    background= image_url("bg-thumb2.png") "no-repeat"
    margin-top: 20px
    img
      padding: 27px 27px
    ul
      margin: 20px 50px 30px 0
      float: left
      width: 85%
    li
      margin-left: 10px
      list-style-type: none
      a
        color= !yellow
        padding: 10px
        background: #eee
        &:hover
          background: #ddd
    p
      margin-left: 10px
      padding: 0 40px 5px 0
      font-family: Palatino, Georgia, "Times New Roman", Times, serif

  #main
    padding-top: 50px
    background= image_url("header3.png") "no-repeat top"
    margin-bottom: 40px
    h4
      font-size: 2em
      float: left
      padding-left: 20px
    #tabs
      padding-right: 15px
      margin-bottom: 10px
      #active
        background: #ddd
        border-bottom: none
        color= !yellow

    #tabs ul
      display: inline
      list-style-type: none
      float: right
      background: #eee
      +rounded
      li
        color: #aaa
        float: left
        margin: 0
        font-size: 0.9em
        font-weight: bold
        padding: 8px 20px 5px 20px
        text-transform: uppercase
        &:hover
          color= !yellow
          background: #ddd
        a
          text-decoration: none
        
    #info
      float: left
    #gallery
      ul
        margin-bottom: 20px
    #videos
      object
        margin-bottom: 30px
        float: left
    .section
      float: left
      margin: 30px 20px 20px 20px
      padding-bottom: 10px
      border-bottom: 1px solid #ededed
      a.right
        text-transform: uppercase
        font-size: 0.7em
        color: #999
        &:hover
          color= !blue
          text-decoration: underline
      h6
        margin-bottom: 10px
      ul
        list-style-type: none
        float: left
        color: #555
        li
          margin: 0
      dl.basic
        width: 280px
        float: left
        margin: 10px 0
        dt
          float: left
          padding-right: 5px
          color: #888
      .gallery
        +horizontal-list
        li
          padding-right: 3px
        img
          border: 4px #eee solid
          &:hover
            border: 4px #ddd solid